.HomePage {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
}

.StickyCanvas {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
}
.welcome-message {
  margin-top: 200px;
}

/*Thumbnail Styles*/
.thumbnail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sticky-tnail li {
  width: 150px;
  min-height: 100px;
  padding: 60px 15px 15px 15px;
  background: rgb(241, 241, 114);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 10px 10px rgb(94, 93, 93);
  transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  -o-transform: rotate(-0.5deg);
  list-style-type: none;
}

.notepad-tnail li {
  width: 150px;
  min-height: 100px;
  background: repeating-linear-gradient(
    white,
    white 24px,
    #9198e5 25px,
    #9198e5 26px
  );
  padding: 60px 15px 15px 15px;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 10px 10px rgb(94, 93, 93);
  transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  -o-transform: rotate(-0.5deg);
  list-style-type: none;
}

.blank-canvas-tnail li {
  width: 150px;
  min-height: 100px;
  border: solid 1px rgb(204, 199, 199);
  padding: 60px 15px 15px 15px;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 10px 10px rgb(94, 93, 93);
  transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  -o-transform: rotate(-0.5deg);
  list-style-type: none;
}

/* COMPONENT STYLES */
/* STICKY */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
}

#close-button {
  box-shadow: 0 1px rgb(94, 93, 93);
  background: rgb(233, 122, 122);
  border: 1px solid rgb(233, 122, 122);
  margin: 5px;
}

#close-button:hover {
  background: rgb(201, 95, 95);
  cursor: pointer;
}

#close-button:active {
  background: rgb(92, 41, 41);
}

.sticky li {
  width: 250px;
  height: 220px;
  min-height: 150px;
  background: rgb(241, 241, 114);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 10px 10px rgb(94, 93, 93);
  transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  -o-transform: rotate(-0.5deg);
  list-style-type: none;
  cursor: grab;
}

#sticky-text {
  background: rgb(241, 241, 114);
  border: none;
  resize: none;
  overscroll-behavior-x: contain;
  margin: 15px;
}

input:focus::placeholder {
  color: transparent;
}

#sticky-text:focus {
  outline: none;
}
